<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">My Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink] = "['/Home']">Home</a></li>
      <!-- <li><a [routerLink]="['/Welcome']">Welcome</a></li> -->
      <!-- <li><a href="#">Contact</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink] = "['/Signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink] = "['/Login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


<!-- Here Content Will Change based on routes -->
<router-outlet></router-outlet>