  <h1> <p>Welcome
    <b>{{username}}</b>   </p></h1> 
    <div class="container">
      <table class="table">      
         <thead>
           <tr>
             <th> Country Name</th>
             <th> Country Code </th>
             <th> Capital </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let country of result;let i=index"> 
             <td>{{country.name}}</td>
             <td>{{country.code}}</td>
             <td>{{country.capital}}</td>
           </tr>
         </tbody>      
      </table>
    </div>