
<h3 class="text-center">Edit Country</h3>
<div class="table-responsive">
    <table class="table">      
       <tbody>
         <tr>          
            <td>Country Name :</td> <td>{{data.name}}</td>
         </tr>
         <tr>
            <td> Country Code : </td>  <td><input [(ngModel)]="data.code"></td>
         </tr>
         <tr>
            <td> Capital :</td> <td><input [(ngModel)]="data.capital"></td>
          </tr>
          <mat-dialog-actions>
            <tr>
              <td><button mat-button [mat-dialog-close]="data" [disabled]="" >Save and Close</button> </td>
            &nbsp; &nbsp;
              <td><button mat-button [mat-dialog-close]="false" >Close without Saving</button></td>
            </tr>
          </mat-dialog-actions>
          
       </tbody>
           
    </table>
  </div>