
<h3 class="text-center">Edit Country</h3>
<div class="table-responsive">
    <table class="table">      
       <tbody>
         <tr>          
            <td>Country Name :</td> <td>{{data.name}}</td>
         </tr>
         <tr>
            <td> Country Code : </td>  <td><input [(ngModel)]="data.code"></td>
         </tr>
         <tr>
            <td> Capital :</td> <td><input [(ngModel)]="data.capital"></td>
          </tr>
          <mat-dialog-actions>
            <button mat-button type="submit" (click)="update(data)">Update</button>
            <button mat-button type="button" (click)="cancel(false)">Cancel</button>
          </mat-dialog-actions>
          
       </tbody>
           
    </table>
  </div>